/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$add-review-name: 'add-review';
$add-review-x: 0px;
$add-review-y: 0px;
$add-review-offset-x: 0px;
$add-review-offset-y: 0px;
$add-review-width: 58px;
$add-review-height: 77px;
$add-review-total-width: 282px;
$add-review-total-height: 254px;
$add-review-image: '../img/sprite.png';
$add-review: (0px, 0px, 0px, 0px, 58px, 77px, 282px, 254px, '../img/sprite.png', 'add-review', );
$book-place-name: 'book-place';
$book-place-x: 0px;
$book-place-y: 82px;
$book-place-offset-x: 0px;
$book-place-offset-y: -82px;
$book-place-width: 53px;
$book-place-height: 77px;
$book-place-total-width: 282px;
$book-place-total-height: 254px;
$book-place-image: '../img/sprite.png';
$book-place: (0px, 82px, 0px, -82px, 53px, 77px, 282px, 254px, '../img/sprite.png', 'book-place', );
$card-checkbox-name: 'card-checkbox';
$card-checkbox-x: 58px;
$card-checkbox-y: 141px;
$card-checkbox-offset-x: -58px;
$card-checkbox-offset-y: -141px;
$card-checkbox-width: 17px;
$card-checkbox-height: 17px;
$card-checkbox-total-width: 282px;
$card-checkbox-total-height: 254px;
$card-checkbox-image: '../img/sprite.png';
$card-checkbox: (58px, 141px, -58px, -141px, 17px, 17px, 282px, 254px, '../img/sprite.png', 'card-checkbox', );
$contacts-location-name: 'contacts-location';
$contacts-location-x: 0px;
$contacts-location-y: 164px;
$contacts-location-offset-x: 0px;
$contacts-location-offset-y: -164px;
$contacts-location-width: 60px;
$contacts-location-height: 40px;
$contacts-location-total-width: 282px;
$contacts-location-total-height: 254px;
$contacts-location-image: '../img/sprite.png';
$contacts-location: (0px, 164px, 0px, -164px, 60px, 40px, 282px, 254px, '../img/sprite.png', 'contacts-location', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 58px;
$contacts-phone-y: 82px;
$contacts-phone-offset-x: -58px;
$contacts-phone-offset-y: -82px;
$contacts-phone-width: 60px;
$contacts-phone-height: 54px;
$contacts-phone-total-width: 282px;
$contacts-phone-total-height: 254px;
$contacts-phone-image: '../img/sprite.png';
$contacts-phone: (58px, 82px, -58px, -82px, 60px, 54px, 282px, 254px, '../img/sprite.png', 'contacts-phone', );
$contacts-work-time-name: 'contacts-work-time';
$contacts-work-time-x: 186px;
$contacts-work-time-y: 0px;
$contacts-work-time-offset-x: -186px;
$contacts-work-time-offset-y: 0px;
$contacts-work-time-width: 46px;
$contacts-work-time-height: 60px;
$contacts-work-time-total-width: 282px;
$contacts-work-time-total-height: 254px;
$contacts-work-time-image: '../img/sprite.png';
$contacts-work-time: (186px, 0px, -186px, 0px, 46px, 60px, 282px, 254px, '../img/sprite.png', 'contacts-work-time', );
$footer-social-fb-name: 'footer-social-fb';
$footer-social-fb-x: 108px;
$footer-social-fb-y: 209px;
$footer-social-fb-offset-x: -108px;
$footer-social-fb-offset-y: -209px;
$footer-social-fb-width: 24px;
$footer-social-fb-height: 24px;
$footer-social-fb-total-width: 282px;
$footer-social-fb-total-height: 254px;
$footer-social-fb-image: '../img/sprite.png';
$footer-social-fb: (108px, 209px, -108px, -209px, 24px, 24px, 282px, 254px, '../img/sprite.png', 'footer-social-fb', );
$footer-social-ig-name: 'footer-social-ig';
$footer-social-ig-x: 79px;
$footer-social-ig-y: 209px;
$footer-social-ig-offset-x: -79px;
$footer-social-ig-offset-y: -209px;
$footer-social-ig-width: 24px;
$footer-social-ig-height: 24px;
$footer-social-ig-total-width: 282px;
$footer-social-ig-total-height: 254px;
$footer-social-ig-image: '../img/sprite.png';
$footer-social-ig: (79px, 209px, -79px, -209px, 24px, 24px, 282px, 254px, '../img/sprite.png', 'footer-social-ig', );
$footer-social-vk-name: 'footer-social-vk';
$footer-social-vk-x: 50px;
$footer-social-vk-y: 209px;
$footer-social-vk-offset-x: -50px;
$footer-social-vk-offset-y: -209px;
$footer-social-vk-width: 24px;
$footer-social-vk-height: 24px;
$footer-social-vk-total-width: 282px;
$footer-social-vk-total-height: 254px;
$footer-social-vk-image: '../img/sprite.png';
$footer-social-vk: (50px, 209px, -50px, -209px, 24px, 24px, 282px, 254px, '../img/sprite.png', 'footer-social-vk', );
$header-location-small-name: 'header-location-small';
$header-location-small-x: 137px;
$header-location-small-y: 209px;
$header-location-small-offset-x: -137px;
$header-location-small-offset-y: -209px;
$header-location-small-width: 17px;
$header-location-small-height: 23px;
$header-location-small-total-width: 282px;
$header-location-small-total-height: 254px;
$header-location-small-image: '../img/sprite.png';
$header-location-small: (137px, 209px, -137px, -209px, 17px, 23px, 282px, 254px, '../img/sprite.png', 'header-location-small', );
$header-location-name: 'header-location';
$header-location-x: 179px;
$header-location-y: 164px;
$header-location-offset-x: -179px;
$header-location-offset-y: -164px;
$header-location-width: 22px;
$header-location-height: 31px;
$header-location-total-width: 282px;
$header-location-total-height: 254px;
$header-location-image: '../img/sprite.png';
$header-location: (179px, 164px, -179px, -164px, 22px, 31px, 282px, 254px, '../img/sprite.png', 'header-location', );
$header-phone-small-name: 'header-phone-small';
$header-phone-small-x: 159px;
$header-phone-small-y: 209px;
$header-phone-small-offset-x: -159px;
$header-phone-small-offset-y: -209px;
$header-phone-small-width: 16px;
$header-phone-small-height: 23px;
$header-phone-small-total-width: 282px;
$header-phone-small-total-height: 254px;
$header-phone-small-image: '../img/sprite.png';
$header-phone-small: (159px, 209px, -159px, -209px, 16px, 23px, 282px, 254px, '../img/sprite.png', 'header-phone-small', );
$header-phone-name: 'header-phone';
$header-phone-x: 206px;
$header-phone-y: 164px;
$header-phone-offset-x: -206px;
$header-phone-offset-y: -164px;
$header-phone-width: 21px;
$header-phone-height: 31px;
$header-phone-total-width: 282px;
$header-phone-total-height: 254px;
$header-phone-image: '../img/sprite.png';
$header-phone: (206px, 164px, -206px, -164px, 21px, 31px, 282px, 254px, '../img/sprite.png', 'header-phone', );
$header-social-fb-small-name: 'header-social-fb-small';
$header-social-fb-small-x: 103px;
$header-social-fb-small-y: 164px;
$header-social-fb-small-offset-x: -103px;
$header-social-fb-small-offset-y: -164px;
$header-social-fb-small-width: 33px;
$header-social-fb-small-height: 33px;
$header-social-fb-small-total-width: 282px;
$header-social-fb-small-total-height: 254px;
$header-social-fb-small-image: '../img/sprite.png';
$header-social-fb-small: (103px, 164px, -103px, -164px, 33px, 33px, 282px, 254px, '../img/sprite.png', 'header-social-fb-small', );
$header-social-fb-name: 'header-social-fb';
$header-social-fb-x: 123px;
$header-social-fb-y: 82px;
$header-social-fb-offset-x: -123px;
$header-social-fb-offset-y: -82px;
$header-social-fb-width: 45px;
$header-social-fb-height: 45px;
$header-social-fb-total-width: 282px;
$header-social-fb-total-height: 254px;
$header-social-fb-image: '../img/sprite.png';
$header-social-fb: (123px, 82px, -123px, -82px, 45px, 45px, 282px, 254px, '../img/sprite.png', 'header-social-fb', );
$header-social-ig-small-name: 'header-social-ig-small';
$header-social-ig-small-x: 65px;
$header-social-ig-small-y: 164px;
$header-social-ig-small-offset-x: -65px;
$header-social-ig-small-offset-y: -164px;
$header-social-ig-small-width: 33px;
$header-social-ig-small-height: 33px;
$header-social-ig-small-total-width: 282px;
$header-social-ig-small-total-height: 254px;
$header-social-ig-small-image: '../img/sprite.png';
$header-social-ig-small: (65px, 164px, -65px, -164px, 33px, 33px, 282px, 254px, '../img/sprite.png', 'header-social-ig-small', );
$header-social-ig-name: 'header-social-ig';
$header-social-ig-x: 237px;
$header-social-ig-y: 100px;
$header-social-ig-offset-x: -237px;
$header-social-ig-offset-y: -100px;
$header-social-ig-width: 45px;
$header-social-ig-height: 45px;
$header-social-ig-total-width: 282px;
$header-social-ig-total-height: 254px;
$header-social-ig-image: '../img/sprite.png';
$header-social-ig: (237px, 100px, -237px, -100px, 45px, 45px, 282px, 254px, '../img/sprite.png', 'header-social-ig', );
$header-social-vk-small-name: 'header-social-vk-small';
$header-social-vk-small-x: 141px;
$header-social-vk-small-y: 164px;
$header-social-vk-small-offset-x: -141px;
$header-social-vk-small-offset-y: -164px;
$header-social-vk-small-width: 33px;
$header-social-vk-small-height: 33px;
$header-social-vk-small-total-width: 282px;
$header-social-vk-small-total-height: 254px;
$header-social-vk-small-image: '../img/sprite.png';
$header-social-vk-small: (141px, 164px, -141px, -164px, 33px, 33px, 282px, 254px, '../img/sprite.png', 'header-social-vk-small', );
$header-social-vk-name: 'header-social-vk';
$header-social-vk-x: 237px;
$header-social-vk-y: 50px;
$header-social-vk-offset-x: -237px;
$header-social-vk-offset-y: -50px;
$header-social-vk-width: 45px;
$header-social-vk-height: 45px;
$header-social-vk-total-width: 282px;
$header-social-vk-total-height: 254px;
$header-social-vk-image: '../img/sprite.png';
$header-social-vk: (237px, 50px, -237px, -50px, 45px, 45px, 282px, 254px, '../img/sprite.png', 'header-social-vk', );
$kitchen-bar-name: 'kitchen-bar';
$kitchen-bar-x: 127px;
$kitchen-bar-y: 0px;
$kitchen-bar-offset-x: -127px;
$kitchen-bar-offset-y: 0px;
$kitchen-bar-width: 54px;
$kitchen-bar-height: 77px;
$kitchen-bar-total-width: 282px;
$kitchen-bar-total-height: 254px;
$kitchen-bar-image: '../img/sprite.png';
$kitchen-bar: (127px, 0px, -127px, 0px, 54px, 77px, 282px, 254px, '../img/sprite.png', 'kitchen-bar', );
$kitchen-menu-name: 'kitchen-menu';
$kitchen-menu-x: 63px;
$kitchen-menu-y: 0px;
$kitchen-menu-offset-x: -63px;
$kitchen-menu-offset-y: 0px;
$kitchen-menu-width: 59px;
$kitchen-menu-height: 72px;
$kitchen-menu-total-width: 282px;
$kitchen-menu-total-height: 254px;
$kitchen-menu-image: '../img/sprite.png';
$kitchen-menu: (63px, 0px, -63px, 0px, 59px, 72px, 282px, 254px, '../img/sprite.png', 'kitchen-menu', );
$load-more-name: 'load-more';
$load-more-x: 0px;
$load-more-y: 209px;
$load-more-offset-x: 0px;
$load-more-offset-y: -209px;
$load-more-width: 45px;
$load-more-height: 45px;
$load-more-total-width: 282px;
$load-more-total-height: 254px;
$load-more-image: '../img/sprite.png';
$load-more: (0px, 209px, 0px, -209px, 45px, 45px, 282px, 254px, '../img/sprite.png', 'load-more', );
$popup-close-name: 'popup-close';
$popup-close-x: 237px;
$popup-close-y: 150px;
$popup-close-offset-x: -237px;
$popup-close-offset-y: -150px;
$popup-close-width: 45px;
$popup-close-height: 45px;
$popup-close-total-width: 282px;
$popup-close-total-height: 254px;
$popup-close-image: '../img/sprite.png';
$popup-close: (237px, 150px, -237px, -150px, 45px, 45px, 282px, 254px, '../img/sprite.png', 'popup-close', );
$slider-arrow-left-name: 'slider-arrow-left';
$slider-arrow-left-x: 237px;
$slider-arrow-left-y: 0px;
$slider-arrow-left-offset-x: -237px;
$slider-arrow-left-offset-y: 0px;
$slider-arrow-left-width: 45px;
$slider-arrow-left-height: 45px;
$slider-arrow-left-total-width: 282px;
$slider-arrow-left-total-height: 254px;
$slider-arrow-left-image: '../img/sprite.png';
$slider-arrow-left: (237px, 0px, -237px, 0px, 45px, 45px, 282px, 254px, '../img/sprite.png', 'slider-arrow-left', );
$slider-arrow-right-name: 'slider-arrow-right';
$slider-arrow-right-x: 186px;
$slider-arrow-right-y: 65px;
$slider-arrow-right-offset-x: -186px;
$slider-arrow-right-offset-y: -65px;
$slider-arrow-right-width: 45px;
$slider-arrow-right-height: 45px;
$slider-arrow-right-total-width: 282px;
$slider-arrow-right-total-height: 254px;
$slider-arrow-right-image: '../img/sprite.png';
$slider-arrow-right: (186px, 65px, -186px, -65px, 45px, 45px, 282px, 254px, '../img/sprite.png', 'slider-arrow-right', );
$switcher-icon-name: 'switcher-icon';
$switcher-icon-x: 186px;
$switcher-icon-y: 115px;
$switcher-icon-offset-x: -186px;
$switcher-icon-offset-y: -115px;
$switcher-icon-width: 43px;
$switcher-icon-height: 33px;
$switcher-icon-total-width: 282px;
$switcher-icon-total-height: 254px;
$switcher-icon-image: '../img/sprite.png';
$switcher-icon: (186px, 115px, -186px, -115px, 43px, 33px, 282px, 254px, '../img/sprite.png', 'switcher-icon', );
$spritesheet-width: 282px;
$spritesheet-height: 254px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($add-review, $book-place, $card-checkbox, $contacts-location, $contacts-phone, $contacts-work-time, $footer-social-fb, $footer-social-ig, $footer-social-vk, $header-location-small, $header-location, $header-phone-small, $header-phone, $header-social-fb-small, $header-social-fb, $header-social-ig-small, $header-social-ig, $header-social-vk-small, $header-social-vk, $kitchen-bar, $kitchen-menu, $load-more, $popup-close, $slider-arrow-left, $slider-arrow-right, $switcher-icon, );
$spritesheet: (282px, 254px, '../img/sprite.png', $spritesheet-sprites, );


@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    &.icon-#{$sprite-name} {
      width: nth($sprite, 5);
      height: nth($sprite, 6);
      $sprite-offset-x: nth($sprite, 3);
      $sprite-offset-y: nth($sprite, 4);
      background-position: $sprite-offset-x  $sprite-offset-y;
    }
  }
}
