$headingFont: 'Ubuntu', sans-serif;
$baseFont: 'Ubuntu', sans-serif;
$minion: 'MinionPro It', 'Times New Roman', serif;

@import "html";
@import "headings";
@import "strong";
@import "em";
@import "paragraph";
@import "list";
@import "link";
