.b-header {
  border-bottom: 1px solid #3b3b3c;

  .header-wrapper {
    @include container();
    border-bottom: 1px solid #ffbb03;
    margin-bottom: -1px;
  }

  &.header-main {
    padding-top: 71px;

    .header-contacts {
      font-size: 20px;
      margin-top: 39px;
      margin-bottom: -32px;

      &-holder {
        @include span(300px);
        position: relative;
        z-index: 1;
      }

      &-item {
        margin-bottom: 32px;
      }

      &-link {
        text-decoration: none;
      }

      &-icon {
        position: relative;
        top: -2px;
        margin-right: 15px;
      }
    }

    .header-logo {
      display: inline-block;
      width: 349px;
      height: 168px;
      background: url($img + 'logo.png') no-repeat;

      &-holder {
        @include span(full);
        @include padding(null span(300px wide));
        @include margin(null -1*span(300px wide));
        text-align: center;
      }
    }

    .header-social {
      margin-top: 61px;
      margin-left: -32px;
      text-align: right;

      &-holder {
        @include span(300px);
        position: relative;
        z-index: 1;
      }

      &-item {
        display: inline-block;
        margin-left: 32px;
      }

    }

    .header-menu {
      &-holder {
        @include span(full);
        margin-top: 62px;
      }
    }

    .header-switcher {
      &-holder {
        display: none;
      }
    }
  }

  &.header-inner {
    .header-logo {
      margin-top: 8px;
      display: inline-block;
      width: 147px;
      height: 71px;
      background: url($img + 'logo-inner.png') no-repeat;

      &-holder {
        @include span(190px);
        position: relative;
        z-index: 1;
      }
    }

    .header-menu {
      &-holder {
        @include span(full);
        @include margin(null -1*span(370px) null -1*span(190px));
        @include padding(null span(370px) null span(190px));
      }
    }

    .header-contacts {
      margin-top: 17px;

      &-link {
        text-decoration: none;
      }

      &-item {
        + .header-contacts-item {
          margin-top: 13px;
        }
      }

      &-icon {
        position: relative;
        top: -2px;
        margin-right: 11px;
      }

      &-holder {
        @include span(200px);
      }
    }

    .header-social {
      margin-top: 26px;
      overflow: hidden;

      &-holder {
        @include span(170px no-gutters);
      }
    }

    .header-switcher {
      &-holder {
        display: none;
      }
    }
  }

  &.header-main,
  &.header-inner {
    @media (max-width: 1130px) {
      padding: 15px 0 50px;
      border-bottom: 0;
      position: relative;
      margin-bottom: -45px;

      .header-wrapper {
        border-bottom: 0;
      }

      .header-switcher {
        cursor: pointer;

        &-holder {
          display: block;
          position: absolute;
          right: 34px;
          top: 31px;
          z-index: 10;
        }
      }

      .header-logo {
        background: url($img + 'logo-small.png') no-repeat;
        width: 207px;
        height: 100px;
        margin: 0;

        &-holder {
          @include span(full);
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }

      .header-contacts,
      .header-social,
      .header-menu {
        &-holder {
          display: none;
        }
      }
    }
  }
}