.b-section {
  margin: 60px 0 40px;

  .section-wrapper {
    @include container();
  }

  .section-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 36px;

    &-subtitle {
      text-align: center;
      font-family: $minion;
      font-style: italic;
      font-size: 28px;
      margin-bottom: 36px;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 4px;
      margin: 30px auto 0;
      background: #fff;
    }
  }

  .section-content {
    @include clearfix;
    @include span(full);

    &.content-more {
      text-align: center;
      margin-top: 34px;
    }
  }

  .section-more-button {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: $minion;
    font-style: italic;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 70px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -70px;
      left: 50%;
      margin-left: -23px;
      @extend .b-icon;
      @extend .b-icon.icon-load-more;
    }
  }
}